$radius: 50%;
$align-center: center;
$absolute: absolute;
$flex: flex;
$currentColor: currentColor;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #96fcb9;
}
.timeline {
    display: $flex;
    justify-content: $align-center;
    position: fixed;
    top: 50%;
    left: 18%;
    right: 18%;
    background-color: #85e6a7;
    height: 60px;
    padding: 0 45px;
    counter-reset: year 2011;
    & li {
        list-style: none;
        position: relative;
        width: 150px;
        height: 100%;
        display: $flex;
        justify-content: $align-center;
        align-items: $align-center;
        background-color: $currentColor;
        &:not(:last-child) {
            margin-right: 4px;
        }
        &::before {
            content: "";
            font-size: 36px;
            color: $currentColor;
        }
        &::after {
            counter-increment: year;
            content: counter(year);
            position: $absolute;
            font-size: 65px;
            color: $currentColor;
        }
        &:nth-child(odd)::after {
            bottom: -70px;
        }
        &:nth-child(even)::after {
            top: -70px;
        }
        &:nth-child(odd) .icon-wraper {
            top: -250px;
            &::before {
                top: 100%;
            }
        }
        &:nth-child(even) .icon-wraper {
            bottom: -250px;
            &::before {
                bottom: 100%;
            }
        }        
    }
}
.circle {
    width: 10px;
    height: 10px;
    border: 3px solid black;
    border-radius: $radius;
}
.icon-wraper {
    width: 120px;
    height: 120px;
    font-size: 75px;
    background-color: $currentColor;
    position: $absolute;
    display: $flex;
    justify-content: $align-center;
    align-items: $align-center;
    border-radius: $radius;
    &::before {
        content: "";
        border: 2px solid black;
        position: $absolute;
        height: 154px;
    }
    & i {
        color: #ffffff;
    }
}